.ReturnNavButton{
  display: flex;
  justify-content: space-between;
  align-items: center;
  h4{
    font-size: 20px;
    font-weight: bolder;
    line-height: 1.2;
    margin: 10px 0;
  }
  .returnButton{
    margin-left: 10px;
  }
}